body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 420px;
    margin: 100px auto;
    padding: 25px;
    background-color: white;
    text-align: center;
    box-shadow: 0px 0px 10px gray;
    border-radius: 8px;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

.result {
    font-size: 20px;
    font-weight: bold;
    color: green;
}
.mri-image {
    width: 250px;
    margin-top: 15px;
    border-radius: 8px;
    border: 2px solid #ccc;
}


